<div class="container">

	<div class="row">

		<form
			(ngSubmit)="onSubmit()"
            [requirePasswordMatch]="[password, passwordConfirmation]"
			#form="ngForm">

			<div
				id="formColumn"
				class="col-xs-12 col-sm-10 col-md-8 mt-5">

				<div class="panel panel-primary">

					<div class="panel-heading">
						<h3 class="panel-title">DingoMax Subscription</h3>
					</div>

					<div class="panel-body">

						<div class="form-group">
							<label for="emailInput">Email:</label>
							<input
								id="emailInput"
								class="form-control"
								name="email"
								type="text"
								placeholder="example@123.com"
								required
								email
								ngModel>
						</div>

						<div class="form-group">
							<label for="subscriptionLevel">Subscription Level:</label>
							<select
								id="subscriptionLevelSelect"
								class="form-control"
								name="subscriptionLevel"
								required
								[(ngModel)]="subscriptionLevels[0]">
								<option
									*ngFor="let level of subscriptionLevels"
									value="{{level}}">
									{{ level }}
								</option>

							</select>
						</div>

						<div class="form-group">
							<label for="password">Password:</label>

							<ul id="passwordRequirements">
								<li [class]="!password.value || password.errors?.minlength ? 'passwordError' : 'passwordSuccess'">
                                    At least 6 characters</li>
								<li [class]="password.errors?.numberNotFound ? 'passwordError' : 'passwordSuccess'">At
                                    least 1 number</li>
								<li [class]="password.errors?.specialCharacterNotFound ? 'passwordError' : 'passwordSuccess'">
                                    At least 1 special character</li>
								<li [class]="password.errors?.repeatingNumbersFound ? 'passwordError' : 'passwordSuccess'">
                                    No repeating numbers (4 or more)</li>
							</ul>

							<div class="input-group">
								<input
									id="password"
									class="form-control"
									name="password"
									[type]="showPassword ? 'text' : 'password'"
									required
									minlength="6"
									requireNumber
									requireSpecialCharacter
									requireNoRepeatingNumbers
									#password="ngModel"
									ngModel>
								<span class="input-group-btn">
                                    
                                    <button
										class="btn btn-info password-visibility-toggle"
										(click)="showPassword = !showPassword"
										[title]="showPassword ? 'Hide Password' : 'Show Password'"
										[disabled]="!password.value"
										type="button">
                                        <i class="far fa-eye-slash"></i>
									</button>
                                </span>
							</div>

						</div>

						<div class="form-group">
							<label for="password">Confirm Password:</label>

							<ul
								id="passwordRequirements"
								*ngIf="passwordConfirmation.errors?.doesNotMatch">
								<li class="passwordError">Passwords must match</li>
							</ul>

							<div class="input-group">
								<input
									id="passwordConfirmation"
									class="form-control"
									name="passwordConfirmation"
									required
									[type]="showPassword ? 'text' : 'password'"
									#passwordConfirmation="ngModel"
									ngModel>
								<span class="input-group-btn">
                                    <button
										class="btn btn-info password-visibility-toggle"
										(click)="showPassword = !showPassword"
										[title]="showPassword ? 'Hide Password' : 'Show Password'"
										[disabled]="!password.value"
										type="button">
                                            <i class="far fa-eye-slash"></i>
									</button>
                                </span>
							</div>
						</div>

						<div class="panel-footer">
							<!-- <div class="form-group"> -->

							<div class="text-right">

								<button
									class="btn btn-success"
									type="submit"
									[disabled]="!form.valid">
									Submit
								</button>

								<button
									class="btn btn-primary"
									type="button"
									(click)="fillForm()">
									Fill Form
								</button>

							</div>

							<!-- </div> -->
						</div>

					</div>
				</div>

				<!-- End Form Column -->
			</div>

			<div
				id="infoColumn"
				class="col-xs-12 col-sm-10 col-md-4 mt-5">

				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Order Summary</h3>
					</div>
					<div class="panel-body">Basic panel example</div>
				</div>

			</div>

		</form>
	</div>
</div>
