<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <!-- Add a Form with the following Inputs (and Validators)
                1) Mail address (should not be empty and should be an email address)
                2) A Dropdown which allows the user to select from three different Subscriptions ("Basic", "Advanced", "Pro")
                    Set "Advanced" as Default
                3) A Password field (should not be empty)
                4) A Submit Button

                Display a warning message if the Form is invalid AND was touched. Display a warning message below each input if it's invalid.

                Upon submitting the form, you should simply print the Value of the Form to the Console.
                Optionally, display it in your template.
            -->

            <h3>
                DingoMax Subscription Form
            </h3>

            <form
                (ngSubmit)="onSubmit()"
                #form="ngForm">

                <div class="form-group">
                    <label for="emailInput">Email:</label>
                    <input
                        id="emailInput"
                        class="form-control"
                        name="email"
                        type="text"
                        placeholder="example@123.com"
                        required
                        email
                        ngModel>
                </div>

                <div class="form-group">
                    <label for="subscriptionLevel">Subscription Level:</label>
                    <select
                        id="subscriptionLevelSelect"
                        class="form-control"
                        name="subscriptionLevel"
                        required
                        [(ngModel)]="subscriptionLevels[0]">
                        <option
                            *ngFor="let level of subscriptionLevels"
                            value="{{level}}">
                            {{ level }}
                        </option>
    
                    </select>
                </div>

                <div class="form-group">
                    <label for="password">Password:</label>
                    
                    <ul id="passwordRequirements">
                        <li>At least 6 Characters</li>
                        <li>At least 1 Number</li>
                        <li>At least 1 Special Character</li>
                        <li>No repeating Numbers</li>
                    </ul>

                    <div class="input-group">
                        <input
                            id="password"
                            class="form-control"
                            name="password"
                            required
                            [type]="showPassword ? 'text' : 'password'"
                            #password="ngModel"
                            ngModel>
                        <span class="input-group-btn">
                            <button
                                class="btn btn-info password-visibility-toggle"
                                (click)="showPassword = !showPassword"
                                [title]="showPassword ? 'Hide Password' : 'Show Password'"
                                [disabled]="!password.viewModel"
                                type="button"> 
                                <i class="far fa-eye-slash"></i>
                            </button>
                        </span>
                    </div>

                </div>

                <div class="form-group">
                    <label for="password">Confirm Password:</label>

                    <div class="input-group">
                        <input
                            id="passwordConfirmation"
                            class="form-control"
                            name="passwordConfirmation"
                            required
                            [type]="showPassword ? 'text' : 'password'"
                            #passwordConfirmation="ngModel"
                            ngModel>
                        <span class="input-group-btn">
                            <button
                                class="btn btn-info password-visibility-toggle"
                                (click)="showPassword = !showPassword"
                                [title]="showPassword ? 'Hide Password' : 'Show Password'"
                                [disabled]="!password.viewModel"
                                type="button">
                                <i class="far fa-eye-slash"></i>
                            </button>
                        </span>
                    </div>
                </div>

                <div class="form-group">

                </div>
                  
                <div class="form-group">

                    <button 
                        class="btn btn-success"  
                        type="submit"
                        [disabled]="!form.valid">
                        Submit
                    </button>

                </div>

                <div class="form-group">

                    <button 
                        class="btn btn-primary"  
                        type="button"
                        (click)="fillForm()">
                        Fill Form
                    </button>
                    
                </div>

            </form>

        </div>
    </div>
</div>