/* You can add global styles to this file, and also import other style files */

.password-visibility-toggle {
    cursor: pointer;
}

*, *:focus, *:hover {
    outline: none !important;
}

.green {
    color: green
}

.red {
    color: red
}